/** @format */

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Barlow:wght@100;700&family=Karla:wght@300&family=Poppins:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: var(--first-color);
  border-radius: 5rem;
}
:root {
  --header-height: 3rem;
  --hue-color: 347;
  /* Colors */
  --first-color: hsl(var(--hue-color), 85%, 46%);
  --first-color-second: hsl(var(--hue-color), 85%, 46%);
  --first-color-alt: hsl(var(--hue-color), 57%, 56%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 86%);
  --title-color: hsl(var(--hue-color), 50%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 46%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 73%, 96%);
  --body-color: hsl(var(--hue-color), 63%, 99%);
  --container-color: #f2f2f2;

  /* ======Font and Typography */
  /* Import font family of poppins from google */
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.939rem;
  --small-font-size: 0.815rem;
  --smaller-font-size: 0.77rem;

  /* ====Font Weight=== */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* ===Margin */
  --m-0-25: 0.25rem;
  --m-0-5: 0.5rem;
  --m-0-75: 0.75rem;
  --m-1: 1rem;
  --m-1-5: 1.5rem;
  --m-2: 2rem;
  --m-2-5: 2.5rem;
  --m-3: 3rem;
}
p,
h1,
h2,
h3,
h4,
div {
  font-family: "Poppins", sans-serif;
}
/* Navbar style */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: max-content;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #ffffff;
  border-bottom: 1px solid gray;
}
.active-icon,
.inactive-icon {
  display: none;
}
.carousel {
  background-color: #dfd5d5;
  width: 100%;
}
.carousel-caption h5,
.carousel-caption p {
  color: black;
  font-weight: bold;
  font-size: 1.6rem;
}
.carousel-item img {
  width: 200px;
  height: 400px;
  object-fit: contain;
}
#white {
  color: white;
  text-shadow: 2px 1px 1px black;
}
.home {
  position: relative;
  top: 100px;
}
.intro-text {
  font-weight: var(--font-semi-bold);
  font-size: var(--h2-font-size);
}
.home-header {
  font-size: 1.8rem;
  text-shadow: 3px 2px 7px rgb(170, 6, 6);
  font-weight: bold;
}
.nav-items.active {
  right: -250px;
  transition: all 650ms ease-in-out;
  -webkit-transition: all 650ms ease-in-out;
  -moz-transition: all 650ms ease-in-out;
  -ms-transition: all 650ms ease-in-out;
  -o-transition: all 650ms ease-in-out;
}
@media only screen and (max-width: 600px) {
  .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    margin-top: -2%;
    right: -840px;
    top: 10px;
    height: 110%;
    width: 90%;
    z-index: 999;
    background-color: #ebe1e1;
    border: 1px solid black;
    margin-bottom: 30px;
    transition: all 650ms ease-in-out;
    -webkit-transition: all 650ms ease-in-out;
    -moz-transition: all 650ms ease-in-out;
    -ms-transition: all 650ms ease-in-out;
    -o-transition: all 650ms ease-in-out;
  }
  .nav-list {
    background-color: var(--first-color-lighter);
  }
  .active-icon {
    display: block;
  }
  .home {
    margin-top: 20%;
  }

  .navbar {
    box-shadow: none;
  }
  .toggle-icon {
    display: block;
  }
  .nav-link:hover {
    color: #040124 !important;
  }
  .nav-item a {
    color: #040124 !important;
  }
  .nav-link:hover lord-icon {
    color: var(--first-color);
  }
}
@media only screen and (max-width: 767.98px) and (max-width: 1024px) {
  .nav-items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    margin-top: -2%;
    right: -840px;
    top: 10px;
    height: 110%;
    width: 90%;
    z-index: 999;
    background-color: #ebe1e1;
    border: 1px solid black;
    margin-bottom: 30px;
    transition: all 650ms ease-in-out;
    -webkit-transition: all 650ms ease-in-out;
    -moz-transition: all 650ms ease-in-out;
    -ms-transition: all 650ms ease-in-out;
    -o-transition: all 650ms ease-in-out;
  }
  .nav-list {
    background-color: var(--first-color-lighter);
  }
  .active-icon {
    display: block;
  }
  .home {
    margin-top: 20%;
  }

  .navbar {
    box-shadow: none;
  }
  .toggle-icon {
    display: block;
  }
  .nav-link:hover {
    color: #040124 !important;
  }
  .nav-item a {
    color: #040124 !important;
  }
  .nav-link:hover lord-icon {
    color: var(--first-color);
  }
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .mapouter,
  .gmap_iframe,
  .gmap_canvas {
    width: 100%;
  }
}
/* @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .nav-items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    margin-top: -2%;
    right: -1840px;
    top: 10px;
    height: 110%;
    width: 90%;
    z-index: 999;
    background-color: #ebe1e1;
    border: 1px solid black;
    margin-bottom: 30px;
    transition: all 650ms ease-in-out;
    -webkit-transition: all 650ms ease-in-out;
    -moz-transition: all 650ms ease-in-out;
    -ms-transition: all 650ms ease-in-out;
    -o-transition: all 650ms ease-in-out;
  }
} */

.logo-img {
  width: 25%;
  height: 25%;
  image-resolution: 300dpi;
}
.nav-logo {
  display: flex;
}
.nav-logo > h2 {
  margin-top: 15px;
}
.nav-list ul {
  display: flex;

  margin-bottom: 30px;
}
.nav-list ul li {
  list-style: none;
  text-decoration: none;

  padding: 10px;
}
.nav-list ul li a {
  text-decoration: none;
  color: var(--first-color);
  font-weight: bold;
}
section {
  display: block;
  margin: 50px;
  margin-top: 40px;
  gap: 5px;
  padding: 20px;
}
svg {
  width: 3%;
  height: 3%;
}
.contact .heading {
  text-align: center;
  font-weight: bold;
  font-size: var(--big-font-size);
}
h1 {
  font-weight: bold;
}
.span-contact {
  color: var(--first-color);
}

.contact .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.map-icon {
  color: rgb(2, 8, 39);
}
.icons {
  border: 1px solid gray;
  width: 92%;

  background-color: var(--first-color-lighter);
  gap: 20px;
}
.icons h3,
.icons p {
  text-align: center;
}
.contact-icon {
  text-align: center;
  margin-left: 47%;
  margin-top: 30px;
}
.img {
  height: 29rem;
  transition: all 0.4s;
  border-radius: 5px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 28px 28px 72px #f7f7f7, -28px -28px 72px #ffffff;
  object-fit: contain;
}
.img:hover {
  transform: scale(1.02, 1.02);
}
.title {
  padding-top: 2.5rem;
}
.row {
  margin-left: 50px;
}
.pic {
  padding-bottom: 2rem;
}
.productBtn-1 {
  margin-top: 1rem;
  font-size: 15px;
  line-height: 4px;
  text-align: center;
  height: 2.9rem;
  width: 7.43rem;
  border: 1px solid black;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  padding: 8px;
  transition: 0.3s all;
  background-color: white;
  color: rgb(210, 59, 109);
}
.productBtn-1:hover {
  color: white;
  background-color: rgb(210, 59, 109);
  transform: scale(1.2, 1.2);
  border: 1px solid transparent;
}
@media (min-width: 991px) and (max-width: 1199px) {
  img {
    width: 90%;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .pic {
    margin-left: 90px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .pic {
    margin-left: 55px;
  }
}
.icons p {
  font-weight: bold;
}
.connect-form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.contact__content {
  background-color: var(--input-color);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
  margin: 20px;
  width: 100%;
}
.contact__label {
  font-size: var(--small-font-size);
  color: var(--title-color);
}
.contact__input {
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}
a {
  text-decoration: none;
  text-decoration-color: #040124 !important;
  -moz-text-decoration-color: #040124 !important;
}
.button {
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 6px;
  background-color: var(--first-color);
  color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.link-btn:hover {
  color: #f2f2f2 !important;
}
.contact__input {
  width: 100%;
}
/* Map */
.mapouter {
  overflow: hidden;
  margin-top: 20px;
  position: relative;
  text-align: right;
  width: 771px;
  height: 400px;
  margin-left: 10px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 771px;
  height: 400px;
  margin-left: 10px;
}
.gmap_iframe {
  overflow: hidden;
  width: 771px !important;
  height: 400px !important;
  margin-left: 10px;
}

/* footer */
footer {
  margin-top: 20%;
}
.footer-bg {
  background-color: var(--first-color);
  width: 100%;
  height: 100%;
  color: #f2f2f2;
}
.footer-cont {
  font-size: var(--h3-font-size);

  margin-top: 10px;
}
footer ul li a {
  text-decoration: none;
  color: rgb(245, 240, 240);
}
footer ul li a:hover {
  background-color: #f2f2f2;
  transition: all 100ms linear;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -o-transition: all 100ms linear;
}
.socials {
  font-size: 30px;
}
#address a i {
  color: #f2f2f2;
}
#mid li {
  list-style: none;
}
#right li {
  list-style: none;
}
i {
  color: #f2f2f2;
}
i:hover {
  color: #f2f2f2;
  transition: all 100ms linear;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -o-transition: all 100ms linear;
}
.footer-after {
  padding-top: 2rem;
}
.text-center {
  text-align: center;
}
.about {
  margin-top: 13%;
}
p {
  font-size: var(--h3-font-size);
}
.about-header {
  margin: 60px;
}
.section-line {
  text-decoration: underline;
  text-decoration-color: var(--first-color);
  -moz-text-decoration-color: var(--first-color);
}
#btn-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--first-color);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#btn-top:hover {
  background-color: var(--first-color-lighter);
}
