:root {
    --header-height: 3rem;
    --hue-color: 347;
    /* Colors */
   --first-color: hsl(var(--hue-color), 85%, 46%);
   --first-color-second: hsl(var(--hue-color), 85%, 46%);
   --first-color-alt: hsl(var(--hue-color), 57%, 56%);
   --first-color-lighter: hsl(var(--hue-color), 92%, 86%);
   --title-color: hsl(var(--hue-color), 50%, 15%);
   --text-color: hsl(var(--hue-color), 8%, 46%);
   --text-color-light: hsl(var(--hue-color), 8%, 65%);
   --input-color: hsl(var(--hue-color), 73%, 96%);
   --body-color: hsl(var(--hue-color), 63%, 99%);
   --container-color: #f2f2f2;
  
    /* ======Font and Typography */
    /* Import font family of poppins from google */
    --body-font: "Poppins", sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.939rem;
    --small-font-size: 0.815rem;
    --smaller-font-size: 0.77rem;
  
    /* ====Font Weight=== */
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /* ===Margin */
    --m-0-25: 0.25rem;
    --m-0-5: 0.5rem;
    --m-0-75: 0.75rem;
    --m-1: 1rem;
    --m-1-5: 1.5rem;
    --m-2: 2rem;
    --m-2-5: 2.5rem;
    --m-3: 3rem;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    font-size: 62.5%;
  }
  header{
    height: 90vh;
    background: url(4\ copy.jpg);
    background-size: cover;
  }
  header .content{
    display: flex;
    flex-direction: column;
    padding: 20rem 10rem;
  } 
  header .content h1{
    font-size: 6rem;
    max-width:50%;
    line-height: 7rem;
    animation:headerContentanimate 1s linear 1s backwards;

  }

  @keyframes headerContentanimate{
    0%{
      opacity: 0;
      transform: translateX(-10rem);
    }
  }



















  @media(max-width:996px){
    html{
        font-size: 55%;
    }
  }
  @media(max-width:776px){
    html{
        font-size: 49%;
    }
  }
  @media(max-width:426px){
    html{
        font-size:42.5%;
    }
  }